.callBoard {
    text-align: center;
}

.addFormBoardCard {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.boardHolder {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.callBoard button {
    width: 150px;
    padding: 5px;
    border-radius: 5px;
    background: yellowgreen;
    color: white;
    font-weight: bold;
    outline: none;
}

.callBoard button:hover {
    box-shadow: 0 0 12px 0 rgba(128,128,128,1);
}