.cardHolder {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: space-around;
}

.homePage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}